<!-- INTERVENTIONS CLIENTS -->
<div class="row mb-1 custom-border">
  <!-- Image  -->
  <div
    class="col-12 col-md-1 border-right mb-2 mb-md-0 d-flex justify-content-center align-items-center"
  >
    <img
      src="assets/img/icon-png-user.png"
      class="img-fluid"
      alt="Produit Image"
    />
  </div>

  <!-- Details Infos  -->
  <div class="col-12 col-md-5 d-flex border-right mb-2 mb-md-0">
    <div class="w-100">
      <div class="row mb-2 align-items-center">
        <div class="col-auto">
          <i class="fas fa-info-circle orange-color"></i>
        </div>
        <div class="col">Nom</div>
      </div>
      <div class="row mb-2 align-items-center">
        <div class="col-auto">
          <i class="fas fa-info-circle orange-color"></i>
        </div>
        <div class="col">Prenom</div>
      </div>
      <div class="row mb-2 align-items-center">
        <div class="col-auto">
          <i class="fa-solid fa-phone orange-color"></i>
        </div>
        <div class="col">Numero Telephone</div>
      </div>
      <div class="row mb-2 align-items-center">
        <div class="col-auto">
          <i class="fa-solid fa-file-contract orange-color"></i>
        </div>
        <div class="col">Numero Contrat</div>
      </div>
    </div>
  </div>

  <!-- Details Interventions -->
  <div class="col-12 col-md-3 mb-2 mb-md-0 border-right">
    <div class="w-100">
      <!-- Numero de l'Intervention -->
      <div class="row mb-2 align-items-center">
        <div class="col-auto"><i class="fas fa-qrcode orange-color"></i></div>
        <div class="col">INTER 54</div>
      </div>
      <!-- Date  -->
      <div class="row mb-2 align-items-center">
        <div class="col-auto">
          <i class="fas fa-calendar-check orange-color"></i>
        </div>
        <div class="col">Date</div>
      </div>
      <!-- Problematique  -->
      <div class="row mb-2 align-items-center">
        <div class="col-auto">
          <i class="fa-solid fa-screwdriver-wrench orange-color"></i>
        </div>
        <div class="col">Problematique</div>
      </div>
      <!-- ETAT (En cours, En attente, Terminee) -->
      <div class="row mb-2 align-items-center">
        <div class="col-auto">
          <i class="fa-regular fa-rectangle-list orange-color"></i>
        </div>
        <div class="col">TERMINEE ou EN ATTENTE</div>
      </div>
    </div>
  </div>

  <!-- Boutons d'actions -->
  <div class="col-12 col-md-3">
    <!-- Boutton Modifier -->
    <div class="row">
      <div class="col-12 mb-2 mb-md- align-items-center">
        <button
          type="button"
          class="btn btn-link"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
        >
          <i class="fa fa-pencil-alt"></i> Modifier
        </button>
      </div>
      <!-- Boutton Supprimer -->
      <div class="col-12 mb-2 mb-md- align-items-center">
        <button
          type="button"
          class="btn btn-link"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
        >
          <i class="fa fa-trash-alt"></i> Supprimer
        </button>
      </div>
    </div>
  </div>
</div>
