<!-- UTILISATEURS DETAILS -->
<div class="row mb-1 custom-border">
    <!-- Image Utilisateur -->
    <div class="col-12 col-md-1 border-right mb-2 mb-md-0 d-flex justify-content-center align-items-center">
      <img src="assets/img/icon-png-user.png" class="img-fluid" alt="Produit Image">
    </div>
  
    <!-- Details Infos  -->
    <div class="col-12 col-md-5 d-flex border-right mb-2 mb-md-0">
      <div class="w-100">
        <div class="row mb-2 align-items-center">
          <div class="col-auto"><i class="fas fa-info-circle orange-color"></i></div>
          <div class="col">Nom</div>
        </div>
        <div class="row mb-2 align-items-center">
          <div class="col-auto"><i class="fas fa-info-circle orange-color"></i></div>
          <div class="col">Prenom</div>
        </div>
        <div class="row mb-2 align-items-center">
          <div class="col-auto"><i class="fa-solid fa-address-card orange-color"></i></div>
          <div class="col">Adresse</div>
        </div>
        <div class="row align-items-center">
          <div class="col-auto"><i class="fa-solid fa-phone orange-color"></i></div>
          <div class="col"><i class=""></i> Numero Telephone</div>
        </div>
      </div>
    </div>
  
    <!-- Details  -->
    <div class="col-12 col-md-3 d-flex border-right mb-2 mb-md-0">
        <div class="w-100">
          <div class="row mb-2 align-items-center">
            <div class="col-auto"><i class="fas fa-home orange-color"></i></div>
            <div class="col"> Fonction</div>
          </div>
          <div class="row mb-2 align-items-center">
            <div class="col-auto"><i class="fa-solid fa-location-dot orange-color"></i></div>
            <div class="col">91600 Ville</div>
          </div>
          <div class="row align-items-center">
            <div class="col-auto"><i class="fas fa-globe-europe orange-color"></i></div>
            <div class="col"><i class=""></i> Pays</div>
          </div>
        </div>
      </div>
  
    <!-- Boutons d'actions -->
    <div class="col-12 col-md-3">
      <div class="row">
        <div class="col-4 mb-2 mb-md-0">
          <button type="button" class="btn btn-link"> 
            <i class="fas fa-pencil-alt "></i> Modifier
          </button>
        </div>
        <div class="col-4 mb-2 mb-md-0">
          <button type="button" class="btn btn-link">
            <i class="fas fa-trash-alt "></i> Supprimer
          </button>
        </div>
        <div class="col-4">
          <button type="button" class="btn btn-link">
            <i class="fas fa-list-alt "></i> Details
          </button>
        </div>
      </div>
    </div>
  </div>