<app-navbar></app-navbar>

<section class="content ">
    <div class="container-hautdesection container flex-wrap" >
        <div class="content-block mx-1">
            <h1>Appli MacSpace</h1>
            <p>MacSpace est une application web complète qui aide les équipes de sécurité de MAC SECURITE à gérer efficacement les installations de systèmes de sécurité pour leurs clients, du début à la fin du processus.</p>
        </div>
        <div class="content-block flex-wrap">
            <img src="assets/img/appli_img_macspace.png" alt="Image" class="imgappli">
        </div>
    </div>
</section>
<nav class="navbar">
    <div class="container">
        <div class="logo">MacSpace</div>
        <ul class="menu">
            <li><a href="#" class="menu-item">Vue d'ensemble</a></li>
            <li><a href="#" class="menu-item">Caractéristiques</a></li>
        </ul>
    </div>
</nav>
<section class="informationsappli ">
    <div class="bloc50 flex-wrap">
        <img src="assets/img/3d_macspace.png" alt="Image de l'application" class="imgappli">
    </div>
    <div class="bloc51 flex-wrap">
        <h2 class="experience">Expérience utilisateur</h2>
        <h3 class="titremacspace">MacSpace conçue pour vous aider avec des fonctionnalités avancées</h3>
        <p class="asavoir">Permet de gérer de manière transparente toutes les étapes du processus d'installation de systèmes de sécurité pour leurs clients, tout en optimisant les performances de leur équipe et en améliorant la satisfaction des clients grâce à un suivi efficace.</p>
        <div class="fonctionnalites">
            <p>MacSpace offre :</p>
            <ul>
                <li>Une gestion simplifiée et efficace des installations et des projets de sécurité.</li>
                <li>Une meilleure communication avec les clients grâce aux notifications automatisées.</li>
                <li>Une optimisation des ressources et du temps grâce à une planification précise des interventions.</li>
                <li>Une amélioration de la qualité de service et de la satisfaction client.</li>
            </ul>
        </div>
    </div>
</section>

<app-footer></app-footer>