<app-navbar></app-navbar>

<section class="content ">
    <div class="container-hautdesection container flex-wrap" >
        <div class="content-block mx-1">
            <h1>Appli MacSpace</h1>
            <p>MacSpace est une application web complète qui aide les équipes à gérer efficacement les installations de systèmes de sécurité des clients, du début à la fin du processus.</p>
        </div>
        <div class="content-block flex-wrap">
            <img src="assets/img/appli_img_macspace.png" alt="Image" class="imgappli">
        </div>
    </div>
</section>
<nav class="navbar">
    <div class="container">
        <div class="logo">MacSpace</div>
        <ul class="menu">
            <li><a href="#" class="menu-item">Vue d'ensemble</a></li>
            <li><a href="#" class="menu-item">Caractéristiques</a></li>
        </ul>
    </div>
</nav>
<section class="informationsappli ">
    <div class="bloc50 flex-wrap">
        <img src="assets/img/3d_macspace.png" alt="Image de l'application" class="imgappli">
    </div>
    <div class="bloc51 flex-wrap">
        <h2 class="experience">Expérience utilisateur</h2>
        <h3 class="titremacspace">MacSpace conçue pour vous aider avec des fonctionnalités avancées</h3>
        <p class="asavoir">Permet de gérer efficacement les installations de systèmes de
            sécurité de bout en bout.
            L'application, offre des fonctionnalités clés : conçue pour optimiser les opérations
            quotidiennes et améliorer la communication avec les clients.
            
            </p>
        <div class="fonctionnalites">
            <p class="macspaceoffer">MacSpace offre :</p>
            <ul>
                <li> <b>La gestion des clients</b> est au cœur de l'application, permettant l'enregistrement et la gestion des informations des clients, y compris les coordonnées, les adresses et les détails spécifiques des installations de sécurité.</li>
                <li> <b>La planification des interventions</b> est également facilitée, avec la possibilité de planifier des installations de nouveaux systèmes de sécurité, des maintenances ou des mises à jour.
                </li>
                <li><b>Fournir des rapports détaillés</b> sur les maintenances ou installations réalisées, permet ainsi d'avoir un suivi précis des activités effectuées et d'informer le client en conséquence.
                </li>
                <li><b>La gestion des stocks</b> assurera un suivi rigoureux des niveaux de stock des produits de sécurité, évitant ainsi les ruptures et facilitant les commandes en temps voulu.

                </li>
            </ul>
        </div>
    </div>
</section>

<app-footer></app-footer>