.footer {
    background-color: #222222;
    color: #FFFFFF;
    padding: 30px;
    text-align: center;
}

.coordonees {
    display: flex;
    justify-content: space-between;
}

.bloc {
    flex: 1;
    margin-right: 20px;
}

.bloc2 {
    flex: 1;
    margin-right: 20px;
}

h3 {
    font-size: 22px;
}

.bloc h3 {
    font-weight: bold;
}

/* Icones reseaux sociaux */
.reseaux-sociaux {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.reseaux-sociaux li {
    display: inline-block;
    margin-right: 10px;
}

.reseaux-sociaux li a {
    display: block;
    width: 30px;
    height: 30px;
    background-color: #000000;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    color: #FFFFFF;
    text-decoration: none;
}

.reseaux-sociaux li a:hover {

    background-color: #e36b0d;

}

/* Lien email contact */
a {
    text-decoration: none;
    color: #808080;
}

a:hover {
    color: #e36b0d;
    text-decoration: none;
}

/* Lien Bas de page */
.lien-footer {
    margin-top: 20px;
}

.lien-footer a {
    text-decoration: none;
    color: #808080;
}

.lien-footer a:hover {
    color: #e36b0d;
}




/* MEDIA QUERIES */
@media screen and (max-width: 980px) {
    section .bloc {
        flex: 0 0 100%;
        /* Spécifiez que chaque élément doit occuper toute la largeur de la ligne */
        max-width: 100%;
    }

    section .bloc1 {
        flex: 0 0 100%;
        /* Spécifiez que chaque élément doit occuper toute la largeur de la ligne */
        max-width: 100%;
    }

    section .bloc2 {
        flex: 0 0 100%;
        /* Spécifiez que chaque élément doit occuper toute la largeur de la ligne */
        max-width: 100%;
    }

    .lien-footer {
        flex: 0 0 100%;
        /* Spécifiez que chaque élément doit occuper toute la largeur de la ligne */
        max-width: 100%;
    }
}