<!-- DETAILS Interventions  -->
<div class="row mb-1 custom-border">
  <!-- Details Infos Interventions -->
  <div class="col-md-3 d-flex border-right mb-2 mb-md-0">
    <div class="row mb-2 text-center">
      <div class="col">Numero interventions</div>
    </div>
  </div>

  <!-- Details  -->
  <div class="col-12 col-md-3 mb-2 mb-md-0 border-right">
    <div class="row">
      <div class="col-md-12 text-center">Date</div>
    </div>
  </div>
  <!-- Problematique -->
  <div class="col-12 col-md-2 mb-2 mb-md-0 border-right">
    <div class="row">
      <div class="col-md-12 text-center">Problematique</div>
    </div>
  </div>
<!-- ETAT (En cours, En attente, Terminee) -->
  <div class="col-12 col-md-3 mb-2 mb-md-0 border-right">
    <div class="row">
      <div class="col-md-12 text-center">Terminee</div>
    </div>
  </div>
</div>
