<app-navbar></app-navbar>

<section class="content">
  <div class="container mt-5">
    <h2 class="text-center mb-4">Gestion des Clients</h2>

    <!-- Formulaire pour ajouter un client -->
    <div class="card mb-4">
      <div class="card-header">Ajouter un nouveau client</div>
      <div class="card-body">
        <form id="addClientForm">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="nom"></label>
              <input
                type="text"
                class="form-control"
                id="nom"
                placeholder="Nom"
                required
              />
            </div>
            <div class="form-group col-md-6">
              <label for="prenom"></label>
              <input
                type="text"
                class="form-control"
                id="prenom"
                placeholder="Prénom"
                required
              />
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="adresse"></label>
              <input
                type="text"
                class="form-control"
                id="adresse"
                placeholder="Adresse"
                required
              />
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="numeroTelephone"></label>
              <input
                type="text"
                class="form-control"
                id="numeroTelephone"
                placeholder="Numéro de Téléphone"
                required
              />
            </div>
          </div>
          <button type="submit" class="btn btn-primary bg-orange my-5">
            Ajouter Client
          </button>
        </form>
      </div>
    </div>

    <!-- Liste des clients -->
    <div class="card">
      <div class="card-header">Liste des Clients</div>
      <div class="card-body">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Nom</th>
              <th scope="col">Prénom</th>
              <th scope="col">Adresse</th>
              <th scope="col">Numéro de Téléphone</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody id="clientList">
            <!-- Les lignes des clients seront insérées ici par JavaScript -->
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <script src="client.js"></script>
</section>
<app-footer></app-footer>
