<div class="col container">
    <div class="row m-3">
      <div class="col-md-8 p-0">
        <h1>Liste des Produits</h1>
      </div>
      <div class="col-md-4 text-right">
        <app-button-action (clickEvent)="nouveauProduit()"></app-button-action>
      </div>
    </div>
    <div class="col m-3">
      <app-details-produits></app-details-produits>
      <app-details-produits></app-details-produits>
      <app-details-produits></app-details-produits>
      <app-details-produits></app-details-produits>
      <app-details-produits></app-details-produits>
    </div>
    <div class="row text-center mb-3">
      <app-pagination></app-pagination>
    </div>
  </div>