<!-- DETAILS MVTSTK  -->
<div class="row mb-1 custom-border">
  <!-- Details Infos Produits -->
  <div class="col-md-3 d-flex border-right mb-2 mb-md-0">
      <div class="row mb-2 text-center">
        <div class="col">12.12.2021</div>
      </div>
  </div>

  <!-- Details Categorie -->
  <div class="col-12 col-md-3 mb-2 mb-md-0 border-right">
    <div class="row">
      <div class="col-md-12 text-center">
        <h5>139</h5>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-3 mb-2 mb-md-0 border-right">
    <div class="row">
      <div class="col-md-12 text-center">
        <h5>Sortie</h5>
      </div>
    </div>
  </div>

  <!-- Boutons d'actions -->
  <div class="col-12 col-md-3">
    <div class="row text-center">
        COMMANDE_CLIENT
    </div>
  </div>
</div>
