.content {
    padding: 100px 0;
    margin: 3rem;
    margin-top: 50px;
    text-align: center;
}

.bg-orange {
    background-color: #e36b0d !important;
    border-radius: 1px #fff;
}

.bg-orange:hover {
    background-color: #000 !important;
    border-radius: 1px #fff;
}

.card-header {
    color: #fff;
    background-color: #000;
}